<!-- Copyright 2022 Mubsira | Islamic Website -->
<!-- Author Aji Santoso -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta name="title" content="Mubsira | Islamic Website" />
    <meta name="description" content="Mubsira adalah website islami yang bersumber dari buku karangan KH.As'ad Humam" />
    <meta name="mubsira, islamic website, wesbite islami, KH.As'ad Humam" />
    <!-- Title Website -->
    <title>Mubsira | Islamic Website</title>
    <!-- Favicon Website -->
    <link rel="icon" href="./assets/img/logo.png" alt="favicon" />
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./assets/node_modules/bootstrap/dist/css/bootstrap.css" />
    <!-- SweetAlert2 Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./assets/node_modules/sweetalert2/dist/sweetalert2.css" />
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./assets/css/main.css" />
  </head>
  <body>
    <!-- Bootstrap Javascript -->
    <script type="text/javascript" src="./assets/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Iconify Javascript -->
    <script type="text/javascript" src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <!-- SweetAlert2 Javascript -->
    <script type="text/javascipt" src="./assets/node_modules/sweetalert2/dist/sweetalert2.js"></script>
  </body>
</html>
